<div class="row">
  <div class="span6">
    <ul class="unstyled" >
      <li><%= render partial: 'form' %></li>
      <%= render partial: 'post', collection: @posts %>
    </ul>
  </div>
  <div class="span6" data-hull-widget="activity@hull"></div>
</div>